/* Header y título principal */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
}

.logo-titulo {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 3rem;
    text-align: center;
    color: #f0e6f6;
    text-shadow: 0 0 8px var(--rosa-1), 0 0 15px var(--lila);
    transition: .3s ease-in-out;
    margin: 0 auto;
    cursor: pointer;
}

.logo-titulo.glow {
    color: #fff0ff;
    text-shadow: 0 0 12px #ff79c6, 0 0 25px var(--rosa-1), 0 0 30px var(--lila);
    transform: scale(1.05);
}

/* barra de navegación */
.header nav {
    background-color: rgb(186, 135, 214);
    padding: 10px 0;
    width: 100%;
}

.header nav ul {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header nav a {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.header nav a:hover {
    color: #ffcc00;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    background: rgba(255, 255, 255, .05);
}